.App {
  text-align: center;
}

.MuiAvatar-root {
  margin: 0 auto;
}
.MuiAvatar-colorDefault {
  background-color: rgb(220, 0, 78) !important;
}
.MuiContainer-root {
  margin-top: 64px;
}
button {
  margin: 24px 0px 16px !important;
}
textarea {
  width: 100%;
}
.jumbotron {
  margin-top: 64px;
}
li {
  margin-right: 5px;
}